<section class="container">
  <h2 class="titulo">Transferências</h2>
  <table class="tabela">
    <thead class="tabela__cabecalho">
      <th class="tabela__cabecalho__conteudo">Data</th>
      <th class="tabela__cabecalho__conteudo">Valor</th>
      <th class="tabela__cabecalho__conteudo">Destino</th>
    </thead>
    <tbody *ngIf="transferencias?.length > 0 else listaVazia"> <!--Se houver conteúdo em cada item das transferencias mostra os valores cadastrados. Se não houver chamará template listaVazia.-->
      <tr class="tabela__linha" *ngFor="let item of transferencias"> <!--Itera sobre a lista de transferencias, imprimindo a cada uma no <p>-->
        <td class="tabela__conteudo">{{item.data | date: "short"}}</td> <!--Variável dentro de {{}} mostrará os valores preenchidos nos inputs. -->
        <td class="tabela__conteudo">{{item.valor | currency}}</td> <!--Formata valor com reais.-->
        <td class="tabela__conteudo">{{item.destino}}</td>
      </tr>
    </tbody>
  </table>
  <ng-template #listaVazia> <!--Se não houver conteúdo nas tranaferencias apresentará isso. -->
    <p>Nenhuma operação cadastrada.</p>
  </ng-template>
</section>

